agility.api/src/main/resources/schema/network.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
COPYRIGHT (C) 2008-2012 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY 
INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR 
END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, 
ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR 
REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->

<xsd:schema targetNamespace="http://servicemesh.com/agility/api"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api">

   <xsd:include schemaLocation="item.xsd" />
   <xsd:include schemaLocation="property.xsd" />
   <xsd:include schemaLocation="protocol.xsd" />
   <xsd:include schemaLocation="credential.xsd" />
   <xsd:include schemaLocation="accessRight.xsd" />
   <xsd:include schemaLocation="propertyDefinition.xsd" />
   <xsd:include schemaLocation="resource.xsd" />
   
   <xsd:complexType name="SdnItem">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>SdnItem</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "SdnItem" 
                           description = "A base type for sdn components that allows for adapters specific storage of arbitrary name-value propertues"
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>

               <xsd:element name="state" type="agility:SdnState" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Current state of the Port" systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>    
                    
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property assets associated with this Port." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>  
   
   <xsd:complexType name="Port">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Port</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Port" 
                           description = "A port represents a virtual switch port on a logical network switch. Virtual instances attach their interfaces into ports. The logical port also defines the MAC address and the IP address(es) to be assigned to the interfaces plugged into them. When IP addresses are associated to a port, this also implies the port is associated with a subnet, as the IP address was taken from the allocation pool for a specific subnet." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:SdnItem">
            <xsd:sequence>
               <xsd:element name="portId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for the port. Read only field." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="network" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Network that this port is associated with.  Network cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="adminStateUp" type="xsd:boolean" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Administrative state of port. If false (down), port does not forward packets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>               
               
               <xsd:element name="status" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Indicates whether port is currently operational. Possible values include: ACTIVE, DOWN, BUILD, ERROR.  Plug-ins might define additional values.  Read only field." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="macAddress" type="xsd:string" minOccurs="0" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Mac address to use on this port.  Mac Address cannot be updated." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="fixedIps" type="agility:FixedIP" minOccurs="0" maxOccurs="unbounded" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Specifies IP addresses for the port thus associating the port itself with the subnets where the IP addresses are picked from." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="deviceId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="identifies the device (e.g., virtual server) using this port." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="deviceOwner" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifies the entity (e.g.: dhcp agent) using this port." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
              
               <xsd:element name="tenantId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Owner of network. Only admin users can specify a tenant_id other than its own.  Tenant ID cannot be updated." introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>  
   
     <xsd:complexType name="FixedIP">
          <xsd:annotation>
            <xsd:appinfo>
              <annox:annotate target="class">
                <jxml:XmlRootElement>
                  <jxml:name>FixedIP</jxml:name>
                </jxml:XmlRootElement>
                <a:ApiModel comment = "FixedIP" 
                           description = "A fixed IP Address." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
              </annox:annotate>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
          	<xsd:element name="id" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Fixed IP identifier." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>
             <xsd:element name="subnet" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to subnet." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>
             <xsd:element name="ipAddress" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="IP Address." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>            
          </xsd:sequence>
  </xsd:complexType>
  
   <xsd:complexType name="Subnet">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Subnet</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Subnet" 
                           description = "A subnet represents an IP address block that can be used to assign IP addresses to virtual instances. Each subnet must have a CIDR and must be associated with a network. IPs can be either selected from the whole subnet CIDR or from allocation pools that can be specified by the user." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:SdnItem">
            <xsd:sequence>
               <xsd:element name="subnetId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for the subnet. Read only." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="network" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Network (VPC) that this subnet is associated with.  Network cannot be changed." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="ipVersion" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="IP version (4 | 6).  IP Version cannot be changed." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>               
               
               <xsd:element name="cidr" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="cidr representing IP range for this subnet, based on IP version. Cidr cannot be changed." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="gatewayIp" type="xsd:string" minOccurs="0" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Default gateway used by devices in this subnet." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="tenantId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Owner of network. Only admin users can specify a tenant_id other than its own.  Tenant ID cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="enableDhcp" type="xsd:boolean" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Specifies whether DHCP is enabled for this subnet or not." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>                

               <xsd:element name="status" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Current state of the Subnet" systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>    

               <xsd:element name="availabilityZone" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="The availability zone to which the subnet is assigned." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>    

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>  
   
     <xsd:complexType name="NetworkSubscription">
          <xsd:annotation>
            <xsd:appinfo>
              <annox:annotate target="class">
                <jxml:XmlRootElement>
                  <jxml:name>NetworkSubscription</jxml:name>
                </jxml:XmlRootElement>
                <a:ApiModel comment = "Network Subscription" 
                           description = "Represents a subscription to a network provider." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
              </annox:annotate>
            </xsd:appinfo>
          </xsd:annotation>
          
          <xsd:sequence>
          
          	<xsd:element name="id" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Fixed IP identifier." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>
             
             <xsd:element name="cloud" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to cloud which subscribed to the network provider. " />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>

             <xsd:element name="networkProvider" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to subscription network provider. " />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>
             
             <xsd:element name="subscriptionId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique subscription ID."  systemGenerated="true"/>
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element> 
                        
          </xsd:sequence>
  </xsd:complexType>

   <xsd:complexType name="NetworkProvider">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>NetworkProvider</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Network Provider" 
                           description = "A network provider manages all network related functions including discovery and provision of network resources." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:SdnItem">
            <xsd:sequence>
               <xsd:element name="networkProviderType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Network provider type. Network provider cannot be changed." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="hostname" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Hostname value used to access the network provider. Hostname is required." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="networkCredentials" type="agility:Credential" minOccurs="0" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Credentials for network provider access." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>             
               
               <xsd:element name="defaultTenantId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Default tenant ID for Network Provider." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element> 
               
               <xsd:element name="networks" type="agility:Link" minOccurs="0" maxOccurs="unbounded" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of network references. " />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="routers" type="agility:Link" minOccurs="0" maxOccurs="unbounded" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of router references. " />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="floatingIPs" type="agility:Link" minOccurs="0" maxOccurs="unbounded" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of floating IP references. " />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>  
   
   <xsd:complexType name="NetworkProviderType">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>NetworkProviderType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Represents a network provider such as Nuetron or PlumGRID." 
                           description = "" 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Asset">
            <xsd:sequence>
               <xsd:element name="type" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Type of network provider." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="version" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Version of network provider." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of properties for the cloud." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
     <xsd:complexType name="RouterInterface">
          <xsd:annotation>
            <xsd:appinfo>
              <annox:annotate target="class">
                <jxml:XmlRootElement>
                  <jxml:name>RouterInterface</jxml:name>
                </jxml:XmlRootElement>
                 <a:ApiModel comment = "Represents an internal interface to a logical router." 
            				 description = "" 
            				 externalDocLink = ""
            				 introducedIn = "3.2" />
              </annox:annotate>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:sequence>
          	<xsd:element name="id" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Fixed IP identifier." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>
             <xsd:element name="subnet" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to subnet. Either a subnet identifier or a port identifier must be passed." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>
             <xsd:element name="port" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to port. Either a subnet identifier or a port identifier must be passed." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
             </xsd:element>       
          </xsd:sequence>
  </xsd:complexType>
   
  <xsd:complexType name="Router">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Router</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Router" 
                           description = "A router is used to interconnect subnets and forward traffic among them. Another feature of the router is to NAT internal traffic to external networks.

A router has an interface for each subnet it is associated with. By default the IP address of such interface is the subnet's gateway IP. Also, whenever a router is associated with a subnet, a port for that router interface will be added to the subnet's network." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:SdnItem">
            <xsd:sequence>
               <xsd:element name="routerId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for the router Read only field." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="networkProvider" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to network provider that this router is associated with.  Network Provider cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="adminStateUp" type="xsd:boolean" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Administrative state of router. If false (down), port does not forward packets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>               
               
               <xsd:element name="status" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Indicates whether port is currently operational. Possible values include: ACTIVE, DOWN, BUILD, ERROR.  Plug-ins might define additional values.  Read only field." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="routerInterfaces" type="agility:RouterInterface" minOccurs="0" maxOccurs="unbounded" >
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of router internal interfaces. Read only field. Router interfaces can be updated with router interface apis." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
      
               <xsd:element name="tenantId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Owner of the router. Only admin users can specify a tenant identifier other than its own.  Tenant ID cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="externalNetwork" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to external gateway network for the router." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>  
   
   <xsd:complexType name="FloatingIP">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>FloatingIP</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "FloatingIP" 
                           description = "A floating IP is an IP address on an external network, which is associated with a specific port, and optionally a specific IP address, on a private OpenStack Networking network. Therefore a floating IP allows access to an instance on a private network from an external network. Floating IPs can only be defined on networks for which the attribute router:external (by the external network extension) has been set to True." 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:SdnItem">
            <xsd:sequence>
               <xsd:element name="floatingIPId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for the floating IP. Read only field." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="networkProvider" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to network provider that this floating IP is associated with.  Network Provider cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
      
               <xsd:element name="tenantId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Owner of the Floating IP. Only admin users can specify a tenant identifier other than its own.  Tenant ID cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="floatingNetwork" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the external network where the floating IP is to be created. Floating network cannot be updated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="floatingIPAddress" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Address of the floating IP on the external network. Floating IP is automatically allocated from the network pool.  Read only field." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="port" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the external port on an internal network which should be associated to the Floating IP." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="fixedIPAddress" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Specific IP address on port which should be associated with the floating IP." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>  
   
</xsd:schema>
