agility.api/src/main/resources/schema/scriptvariable.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
COPYRIGHT (C) 2008-2012 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY 
INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR 
END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, 
ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR 
REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->

<xsd:schema targetNamespace="http://servicemesh.com/agility/api"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api">

   <xsd:include schemaLocation="general.xsd" />

   <xsd:complexType name="ScriptVariableRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ScriptVariableRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Script varialble request object." 
                           description = "A script variable request returns a ScriptVariableList containing one ScriptVariable element for each script variable.  Each ScriptVariable contains list of packages and scripts, which reference the variable as a Link." 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
      
         <xsd:element name="topologyId" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique identifier of the topology." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="templateId" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique identifier of the template." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="cloudId" type="xsd:int" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique identifier of the cloud (provider)." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="packageId" type="xsd:int" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique identifier of the package." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ScriptVariable">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ScriptVariable</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Script variable object." 
                           description = "{{scriptVariableDescription}}" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Variable">
            <xsd:sequence>
            
               <xsd:element name="package" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to packages." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="script" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to scripts." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="variableSource" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Source of the variable." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="providerValue" type="agility:Variable" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Inherited value; used if the value is defined by the provider (cloud)." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="providerSource" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Source of the inherited value; used if the value is defined by the provider (cloud)." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="providerImagePath" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Path for the source; used if the value is defined by the provider (cloud)." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="projectValue" type="agility:Variable" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Inherited value; used if the value is defined by the project." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="projectSource" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Source of the inherited value; used if the value is defined by the project." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="environmentValue" type="agility:Variable" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Source of the inherited value; used if the value is defined by the environment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="environmentSource" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Source of the inherited value; used if the value is defined by the environment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="topologyValue" type="agility:Variable" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Inherited value; used if the value is defiend by the topology." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="topologySource" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Source of the inherited value; used if the value is defined by the topology." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="overrideValue" type="agility:Variable" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Contains value if variable is overridden by a template." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ScriptVariableList">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ScriptVariableList</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "List of script variable objects." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      
      <xsd:complexContent>
         <xsd:extension base="agility:ServiceMeshList">
		      <xsd:sequence>
		         <xsd:element name="scriptVariable" type="agility:ScriptVariable" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of ScriptVariable objects." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
		         </xsd:element>
		      </xsd:sequence>
		   </xsd:extension>
		</xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
