agility.api/src/main/resources/schema/storage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
COPYRIGHT (C) 2008-2012 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY 
INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR 
END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, 
ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR 
REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->

<xsd:schema targetNamespace="http://servicemesh.com/agility/api"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api">

   <xsd:include schemaLocation="item.xsd" />
   <xsd:include schemaLocation="property.xsd" />
   
   <xsd:complexType name="VolumeStorageSnapshot">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>VolumeStorageSnapshot</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Volume Storage Snapshot Item." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="volume" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Volume Asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="cloud" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Cloud Asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storage" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Storage Repository." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="snapshotId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for the Snapshot." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="status" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Metric items." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="progress" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Metric items." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storageSnapshots" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Snapshot references."
                           		introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="StorageSnapshot">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StorageSnapshot</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StorageSnapshot Item." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="cloud" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Cloud in which the StorageSnapshot is located." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storage" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Storage Repository." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="snapshotId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Generated identifier for the Snapshot." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="status" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Status of the Snapshot assignment." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="progress" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Used for internal task management. There is no following state." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Storage">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Storage</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Storage Item." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="cloud" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Cloud Asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="volume" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Volume that defines this Storage Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="instance" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to VM that is currently using this Storage Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storageId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for Storage Item." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="location" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location for the Storage resource." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="size" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Size for the Storage resource." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="unit" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unit type associated with the Storage Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="device" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Device associated with the Storage Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="snapshotId" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifier for the Snapshot Volume." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="snapshots" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Volume Snapshots associated with the Storage resource." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of properties defined for the storage." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <!--   About volume storage: these can be pointed to by either a volume or both a volume and an instance. -->
   <xsd:complexType name="VolumeStorage">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>VolumeStorage</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Volume Storage Item." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="cloud" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Cloud in which the Volume Storage Item is located." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="volume" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Volume that defines this Storage Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="instance" type="agility:Link" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the VM instance associated with this Volume Storage Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storageId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier for the Volume Storage." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="location" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location for the Volume Storage resource." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="size" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Size for the Volume Storage resource." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="unit" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unit type associated with the Volume Storage." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="device" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Device associated with the Volume Storage." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="snapshotId" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifier of a Volume Storage Snapshot." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storage" type="agility:Storage" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Storage Items." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="hasFileSystem" type="xsd:boolean" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Flag to indicate file system for the Volume Storage." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="volumeSnapshots" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to associated Volume Snapshots." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of properties defined for the storage." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="StorageAssignment">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StorageAssignment</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Identifies an instance that has this Storage item assigned/attached." 
                           description = "" 
                           externalDocLink = ""
                           introducedIn = "3.2" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
         <xsd:sequence>
            <xsd:element name="instanceId" type="xsd:string" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:appinfo>
                     <annox:annotate target="field">
                        <a:ApiField comment="Identifier of the instance to which this Storage item is assigned/attached." />
                     </annox:annotate>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:element>
               
            <xsd:element name="device" type="xsd:string" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:appinfo>
                     <annox:annotate target="field">
                        <a:ApiField comment="Operating system device name for the attached Storage." />
                     </annox:annotate>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:element>
               
            <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:appinfo>
                     <annox:annotate target="field">
                        <a:ApiField comment="Status of the Storage assignment." systemGenerated="true" />
                     </annox:annotate>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:element>
               
            <xsd:element name="attachTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:appinfo>
                     <annox:annotate target="field">
                        <a:ApiField comment="Time the Storage was attached to the instance." systemGenerated="true" />
                     </annox:annotate>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:element>
               
         </xsd:sequence>
   </xsd:complexType>
   
</xsd:schema>