agility.api/src/main/resources/schema/store.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
COPYRIGHT (C) 2008-2012 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY 
INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR 
END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, 
ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR 
REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->

<xsd:schema targetNamespace="http://servicemesh.com/agility/api"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api">

   <xsd:include schemaLocation="asset.xsd" />
   <xsd:include schemaLocation="item.xsd" />
   <xsd:include schemaLocation="container.xsd" />
   
   <xsd:complexType name="StoreCategory">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreCategory</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Store Category permissions control access and administration of store categories within a Container." 
                           description = "{{storeCategoryDescription}}"
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Asset" />
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StoreCatalog">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreCatalog</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Store Catalog permissions control access and administration of store catalogs within a Container." 
                           description = "{{storeCatalogDescription}}" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Container">
            <xsd:sequence>
               <xsd:element name="products" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to store products included in the catalog." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StoreEditionType">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreEditionType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Type of StoreEdition." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Asset" />
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StoreEdition">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreEdition</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreEdition Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="version" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifies the version of the StoreEdition." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="build" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifies the build of the StoreEdition." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="release" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the release of the StoreEdition." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemId" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifier of the store item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemType" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifies the name of the store item type." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemName" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifies the name of the store item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="prices" type="agility:StorePrice" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of store item prices." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="resources" type="agility:StoreResource" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Resource Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="orderAssetType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to order AssetType" introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="deployAssetType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to deploy AssetType" introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StorePrice">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StorePrice</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StorePrice Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="id" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="System-generated identifier." systemGenerated="true" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="type" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Currently, this can be either 'fixed', 'usage', or 'provisioned'." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="currency" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Type of currency for the store price. Defaults to 'USD'" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="currencyLabel" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Currency label used in the Store UI for the displayed pricing, such as '$'." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="label" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Label for the store price.  This can be either 'One Time:' or 'Recurring:'" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="labelAfter" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Placing of label in regards to price to support Localization" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="price" type="xsd:double" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Value of price, such as '99.99'." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="digits" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Number of decimal digits." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="duration" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Time period increment used to calculate usage pricing." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="period" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Time period used to calculate price." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="recurs" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="For a one-time price, this value should be '0'." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="threshold" type="xsd:double" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Threshold for the store price." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="StoreProduct">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreProduct</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Store Product permissions control access and administration of store products within a project." 
                           description = "{{storeProductDescription}}" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="shortDescription" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Product short description." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="requirements" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Product requirements." introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="keyFeatures" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Product key features." introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="supportInformation" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Product support information." introducedIn="3.2" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="productType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to a StoreProductType." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="publisher" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to a StorePublisher." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="version" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Version number of the product, e.g. MySQL 5.5" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="build" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Build number of the product" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="category" type="agility:StoreCategory" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of categories assigned to the product." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemId" type="xsd:int" minOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifier of the source asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemType" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Type of the source asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemName" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Name of the source asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="itemDetailedPath" type="xsd:string"  minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Path of the source asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="numOrders" type="xsd:int" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Number of product orders (most popular)."
                           		introducedIn="3.2"
                           		systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="resources" type="agility:StoreResource" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Store Product Resources." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="releases" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to StoreReleases." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StorePublisher">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StorePublisher</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StorePublisher Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Asset">
            <xsd:sequence>
               <xsd:element name="url" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="URL" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StoreReleaseType">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreReleaseType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreReleaseType Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Asset" />
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StoreRelease">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreRelease</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreRelease Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="version" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Store release version" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="build" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Store release build" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="resources" type="agility:StoreResource" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of StoreResource Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="product" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to a StoreProduct." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="editions" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to StoreEdition Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent> 
   </xsd:complexType>

   <xsd:complexType name="StoreResource">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreResource</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreResource Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Internal identifier for the StoreResource." systemGenerated="true" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="name" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Name of the StoreResource." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="value" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Value of the StoreResource." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Type of StoreResource." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="StoreProductAdapter">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreProductAdapter</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreProductAdapter Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="productType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to StoreProductType." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="url" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="URL" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="className" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Name of class associated to the product adapter." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="resource" type="agility:StoreResource" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Store Resources associated to the Product Adapter." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent> 
   </xsd:complexType>
  
   <xsd:complexType name="StoreProductAdapterItem">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreProductAdapterItem</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreProductAdapterItem Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="System-generated identifier." systemGenerated="true" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="name" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Name of the StoreProductAdapterItem." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="description" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Description of the StoreProductAdapterItem." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="type" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Product type associated to the StoreProductAdapterItem." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="resource" type="agility:StoreResource" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="List of Store Resources associated to the StoreProductAdapterItem." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="link" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Reference to the Asset the StoreProductAdapterItem is associated to." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="StoreProductAdapterItemList">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreProductAdapterItemList</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreProductAdapterItemList Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:ServiceMeshList">
		      <xsd:sequence>
		         <xsd:element name="item" type="agility:StoreProductAdapterItem" minOccurs="0" maxOccurs="unbounded">
		            <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of items for the product adapter." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
		      </xsd:sequence>
		   </xsd:extension>
		</xsd:complexContent>
		
   </xsd:complexType>

   <xsd:complexType name="StoreProductType">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>StoreProductType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "StoreProductType Asset." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Asset" />
      </xsd:complexContent> 
   </xsd:complexType>
  
</xsd:schema>