com.servicemesh.agility.api/xsd/releaseManager.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
COPYRIGHT (C) 2008-2012 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY 
INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR 
END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, 
ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR 
REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->

<xsd:schema targetNamespace="http://servicemesh.com/agility/api"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api">

   <xsd:include schemaLocation="asset.xsd" />
   <xsd:include schemaLocation="deployment.xsd" />
   <xsd:include schemaLocation="common.xsd" />
   <xsd:include schemaLocation="configuration.xsd" />
   <xsd:include schemaLocation="credential.xsd" />
   
   <xsd:complexType name="ArtifactType">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ArtifactType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "A build type defined within a PlatformService that is used to define Solution Artifacts, which can be deployed to a selected Runtime." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Asset">
            <xsd:sequence>
               <xsd:element name="platformServiceType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to PlatformService Asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Artifact">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Artifact</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "A versioned executable produced by a build system, such as a WAR or JAR file, that has been built and inserted as an Attachment for a Solution." 
                           description = "Each push of a new, updated build Artifact creates a new version of the Solution Artifact." 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:VersionedItem">
            <xsd:sequence>
               <xsd:element name="buildId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique identifier to build." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="builtOn" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Date built." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="solution" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Solution Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="attachments" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Attachment Assets associated with this Artifact." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="configuration" type="agility:ArtifactConfiguration" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Associated ArtifactConfiguration." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="SolutionDeploymentConfig">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>SolutionDeploymentConfig</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Configuration for a SolutionDeployment Item." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:DeploymentConfiguration">
            <xsd:sequence>
               <xsd:element name="artifactConfigurations" type="agility:DeploymentArtifactConfig" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Deployment Artifact Configuration objects." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
 
   <xsd:complexType name="SolutionDeployment">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>SolutionDeployment</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "An instance of a Solution that has been deployed within a defined SDLC environment for the Solution with a set version of all associated Solution Artifacts." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Deployment">
            <xsd:sequence>
               <xsd:element name="solution" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Solution Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="artifacts" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Artifact VersionedItems" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="artifactVersions" type="agility:Artifact" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of versions for Artifact." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ArtifactRuntimeBinding">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ArtifactRuntimeBinding</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Binding object for an Artifact Runtime." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique system generated identifier." systemGenerated="true" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="runtime" type="agility:Link" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Reference to Runtime Item" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="type" type="agility:Link" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Reference to Artifact Type Asset." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="List of Property Assets" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="services" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="List of services." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ArtifactConfiguration">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ArtifactConfiguration</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Configuration for an Artifact VersionItem." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique system-generated identifier." systemGenerated="true" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="runtimeBindings" type="agility:ArtifactRuntimeBinding" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="List of associated Artifact Runtime Bindings." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="variables" type="agility:AssetProperty" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="List of variables defined for the Artifact Configuration." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PlatformServiceType">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>PlatformServiceType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "A service type that utilizes one of the ServiceMesh PaaS adapters to provide a runtime platform for Solution Deployments." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Asset">
            <xsd:sequence>
               <xsd:element name="type" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Type designation for the service type." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="runtimeProperties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property Assets associated with the Runtime." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="artifactTypes" type="agility:ArtifactType" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of associated Artifact Type Assets" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="serviceTypes" type="agility:ServiceBindingType" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of associated ServiceBindingType Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="PlatformService">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>PlatformService</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "A service that utilizes one of the ServiceMesh PaaS adapters to provide a runtime platform for Solution Deployments." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="type" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the PlatformService Type Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="topology" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Topology Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="login" type="agility:Credential" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Log in Credentials for the service." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="blueprint" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Blueprint Asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceBinding">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceBinding</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Binding for a service." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="serviceId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Unique system-generated identifier." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="type" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Service Binding Type Asset." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceBindingType">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceBindingType</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Type of Service Binding." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Asset">
            <xsd:sequence>
               <xsd:element name="platformServiceType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Platform Service Type Asset." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Property Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Solution">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Solution</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "An ordered set of Release Manager Solution Artifacts, each of which is mapped to a Platform Service and set of configuration properties used for deployment." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="artifacts" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Artifact VersionedItems." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="fixedOrder" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Artifacts that are processed in a fixed order." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="anyOrder" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Artifacts that can be processed in any order." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="deployments" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Deployment Item." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="variables" type="agility:AssetProperty" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of variables defined for the Solution." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="environments" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Environment Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Deployer">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Deployer</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Definition of Scripts used to manage a Deployment." 
                           description = "A definition for how to deploy an Artifact Type to a Runtime by mapping deployment actions to Scripts.  This determines the required configuration properties, and specifies the target template where these deployment Scripts are executed at runtime." 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="artifactType" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Artifact Type associated with the build Artifact Deployer. Note that the 'name' field is used to look up the Artifact Type" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="deployScript" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the Script used to provision deployment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="undeployScript" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Script used for de-provisioning." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="startScript" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Script used to start deployment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="stopScript" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Script used to stop deployment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="templates" type="agility:Link" minOccurs="0"  maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of references to Template Assets." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="urlPrefix" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Artifact URL prefix." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ArtifactAttachment">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ArtifactAttachment</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "External document or information associated with an Artifact." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="size" type="xsd:long" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Size of the Attachment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="content" type="xsd:base64Binary" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Binary Attachment data." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="artifact" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to Artifact with which the Attachment associated." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>