agility-platform-services-sdk/xsd/instance.xsd

<!--
COPYRIGHT (C) 2008-2013 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->
<xsd:schema targetNamespace="http://servicemesh.com/agility/sdk/service" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api"
   xmlns:core="http://servicemesh.com/core/messaging"
   xmlns:service="http://servicemesh.com/agility/sdk/service">
   
   <xsd:complexType name="InstanceRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object for instance actions." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceProviderRequest">
            <xsd:sequence>

               <xsd:element name="template" type="agility:Template">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Asset object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Asset object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="operatingSystem" type="agility:OperatingSystem">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="The instance's operating system." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="serviceInstance" type="agility:ServiceInstance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Tuple instance service provider to template and optionally service instance." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="peerServiceInstance" type="agility:ServiceInstance" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of associated service instances used by instances associated with the template." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="srcConnection" type="agility:Connection" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of connections from the service instance to another asset"/>
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="destConnection" type="agility:Connection" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of connections to the service instance from another asset." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="dependent" type="agility:Asset" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of assets dependent on this service instance." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="dependency" type="agility:Asset" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of assets this service instance has a dependency on." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="launchItemDeployment" type="agility:LaunchItemDeployment" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="The launch item deployment that the instance is optionally a member of."/>
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstanceResponse">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object for instance actions." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceProviderResponse">
            <xsd:sequence>

               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Asset object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstancePreProvisionRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreProvisionRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance create workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePostProvisionRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostProvisionRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance create workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstancePreBootRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreBootRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance create workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstancePostBootRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostBootRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance create workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePreStartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreStartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance start workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePostStartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostStartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance start workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstancePreStopRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreStopRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance stop workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePostStopRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostStopRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance stop workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePreRestartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreRestartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance restart workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstancePostRestartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostRestartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance restart workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstancePreReleaseRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreReleaseRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance release workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePostReleaseRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostReleaseRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance release workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePreReconfigureRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePreReconfigure</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance reconfigure workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstancePostReconfigureRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstancePostReconfigure</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during instance reconfigure workflow to enable updates to service instance as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:InstanceRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>


</xsd:schema>
