agility-platform-async-cloud-sdk/xsd/instanceOperations.xsd

<!--
COPYRIGHT (C) 2008-2013 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->
<xsd:schema targetNamespace="http://servicemesh.com/agility/sdk/cloud" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api"
   xmlns:core="http://servicemesh.com/core/messaging"
   xmlns:cloud="http://servicemesh.com/agility/sdk/cloud">

   <xsd:complexType name="InstanceCreateRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceCreateRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance provisioning action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="location" type="agility:Location">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="model" type="agility:Model">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Model object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="image" type="agility:Image">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Image object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="credential" type="agility:Credential">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Credential object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="template" type="agility:Template">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Template object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="stack" type="agility:Stack">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Stack object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be provisioned." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="effectiveAccessList" type="agility:AccessList" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of AccessList objects." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

                <xsd:element name="ports" type="agility:Port" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <annox:annotate target="field">
                                <a:ApiField comment="List of Port objects available for provisioning." />
                            </annox:annotate>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="networks" type="agility:Network" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Network objects available for provisioning." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="storage" type="agility:VolumeStorage" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of Non-detachable Volume Storage" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="policy" type="xsd:string" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Possible Guest Customization script" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="InstanceResponse">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceResponse</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Response object returned by instance actions." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudResponse">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="credential" type="agility:Credential">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Optional Credential object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstanceBootRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceBootRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance boot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be rebooted." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="location" type="agility:Location">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstanceStartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceStartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the start instance action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be started." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="reconfigure" type="xsd:boolean">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Boolean flag indicating if hardware should be reconfigured on start." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="location" type="agility:Location">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location object to be started." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="template" type="agility:Template">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Template object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstanceStopRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceStopRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the stop instance action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be stopped." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="location" type="agility:Location">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstanceReleaseRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceReleaseRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the release instance action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be released." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="location" type="agility:Location">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="template" type="agility:Template">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Template object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="InstanceRebootRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceRebootRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the reboot instance action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be rebooted." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="reconfigure" type="xsd:boolean">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Boolean flag indicating if hardware should be reconfigured on reboot." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
                              
               <xsd:element name="location" type="agility:Location">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Location object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="template" type="agility:Template">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Template object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <!--  Instance hotswap request message -->
   
      <xsd:complexType name="InstanceHotswapRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceRebootRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the reboot instance action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be reconfigured" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="template" type="agility:Template">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Template object with new resource settings" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <!--   Instance snapshot messages -->

   <xsd:complexType name="InstanceCreateSnapshotRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceCreateSnapshotRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance snapshot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
 
               <xsd:element name="snapshot" type="agility:Snapshot">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Snapshot object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="InstanceUpdateSnapshotRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceUpdateSnapshotRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance snapshot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
            
               <xsd:element name="snapshot" type="agility:Snapshot">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Snapshot object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="name" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Used for updateSnapshot - new snapshot name" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="description" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Used for updateSnapshot - new snapshot description" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="InstanceRemoveSnapshotRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceRemoveSnapshotRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance snapshot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
 
               <xsd:element name="snapshot" type="agility:Snapshot">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Snapshot object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="InstanceRemoveAllSnapshotRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceRemoveAllSnapshotRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance snapshot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
 
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="snapshots" type="agility:Snapshot" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of snapshots for the Instance." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   <xsd:complexType name="InstanceRevertSnapshotRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceCreateSnapshotRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance snapshot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudRequest">
            <xsd:sequence>
 
               <xsd:element name="snapshot" type="agility:Snapshot">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Snapshot object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   
   
   
   <xsd:complexType name="InstanceSnapshotResponse">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>InstanceSnapshotRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object required by the instance snapshot action." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="cloud:CloudResponse">
            <xsd:sequence>
            
               <xsd:element name="instance" type="agility:Instance">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Instance object to be snapshotted." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

               <xsd:element name="snapshot" type="agility:Snapshot">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Snapshot object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
      
</xsd:schema>
