api/src/main/resources/schema/deployment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
COPYRIGHT (C) 2008-2012 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY 
INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR 
END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, 
ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR 
REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->

<xsd:schema targetNamespace="http://servicemesh.com/agility/api"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api">

   <xsd:include schemaLocation="enumerations.xsd" />
   <xsd:include schemaLocation="assetProperty.xsd" />
   <xsd:include schemaLocation="item.xsd" />
   <xsd:include schemaLocation="property.xsd" />
   
   <xsd:complexType name="DeploymentBinding">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>DeploymentBinding</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Binding information associated with a deployment." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
            <xsd:annotation>
	            <xsd:appinfo>
	               <annox:annotate target="field">
	                  <a:ApiField comment="Unique system-generated identifier." systemGenerated="true" />
	               </annox:annotate>
	            </xsd:appinfo>
	         </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="deploymentId" type="xsd:string">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Unique system-generated identifier." systemGenerated="true" />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="platformService" type="agility:Link" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Reference to platform service object." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="deployer" type="agility:Link" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Reference to deployer object." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="artifact" type="agility:Link" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Reference to artifact object." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="artifactUrl" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:appinfo>
                  <annox:annotate target="field">
                     <a:ApiField comment="Artifact URL for the deployment." />
                  </annox:annotate>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="Deployment">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>Deployment</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Activation of a solution." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="agility:Item">
            <xsd:sequence>
               <xsd:element name="state" type="agility:DeploymentState" minOccurs="0">
		            <xsd:annotation>
		               <xsd:appinfo>
		                  <annox:annotate target="field">
		                     <a:ApiField comment="Build artifact deployment status." systemGenerated="true" />
		                  </annox:annotate>
		               </xsd:appinfo>
		            </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="sourceDeployment" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the original deployment object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="readyForPromotion" type="xsd:boolean" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="True if ready for deployment." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="environment" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to the environment object." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="deploymentBindings" type="agility:DeploymentBinding" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of binding objects for deployment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="configuration" type="agility:DeploymentConfiguration" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Configuration object for deployment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="variables" type="agility:AssetProperty" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of variables defined for the deployment." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="submitter" type="agility:Link" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Reference to user account that initiated the deployment." systemGenerated="true" />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="submitComment" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Comment text associated with the submit." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="releaseId" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Identifier for release." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               
               <xsd:element name="releaseLabel" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="Label associated with release." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="DeploymentArtifactConfig">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>DeploymentArtifactConfig</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Configuration associated with a deployment artifact." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
	          <xsd:annotation>
	             <xsd:appinfo>
	                <annox:annotate target="field">
	                   <a:ApiField comment="Unique system-generated identifier." systemGenerated="true" />
	                </annox:annotate>
	             </xsd:appinfo>
	          </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="artifact" type="agility:Link" minOccurs="0">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="Reference to artifact object." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="artifactType" type="agility:Link" minOccurs="0">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="Reference to artifact type object." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="properties" type="agility:Property" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of property objects." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="services" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of associated services." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="variables" type="agility:AssetProperty" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of variables defined for the artifact asset type." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DeploymentConfiguration">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>DeploymentConfiguration</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Configuration for a deployment." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="id" type="xsd:int">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="Unique system-generated identifier." systemGenerated="true" />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="DeploymentPlan">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>DeploymentPlan</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Deployment plan information." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="name" type="xsd:string">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="Usually the name of the 'best fit' resource for a node." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="item" type="agility:Link">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="Reference to blueprint asset to which the node corresponds." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="rank" type="xsd:double">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="The rank of the deployment plan compared to other available plans for the node." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="error" type="xsd:boolean">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="True specifies that the node has a deployment error." systemGenerated="true" />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="message" type="xsd:string">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="An error message returned for the node." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="resourceAffinity" type="agility:ResourceAffinity">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="The affinity group setting for the node." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="resource" type="agility:Link" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of references to available resource objects for the node." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="child" type="agility:DeploymentPlan" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of deployment plan objects for child assets." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="option" type="agility:DeploymentPlan" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of available options for the node." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
      </xsd:sequence>
      
      <xsd:attribute name="stackDefault" type="xsd:boolean">
	      <xsd:annotation>
	         <xsd:appinfo>
	            <annox:annotate target="field">
	               <a:ApiField comment="True if this is the stack default." required="true" />
	            </annox:annotate>
	         </xsd:appinfo>
	      </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>
    
   <xsd:complexType name="DeploymentRequest">
   
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>DeploymentRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request information for a deployment." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
         <xsd:element name="variable" type="agility:AssetProperty" minOccurs="0" maxOccurs="unbounded">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="List of values for blueprint variables and properties." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
             
         <xsd:element name="plan" type="agility:DeploymentPlan">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="The included deployment plan." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
         <xsd:element name="checkUse" type="xsd:boolean" default="true">
             <xsd:annotation>
                <xsd:appinfo>
                   <annox:annotate target="field">
                      <a:ApiField comment="True if check use.  Defaults to true." />
                   </annox:annotate>
                </xsd:appinfo>
             </xsd:annotation>
         </xsd:element>
         
      </xsd:sequence>
   </xsd:complexType>
  
</xsd:schema>