agility.service.sdk/src/main/resources/schema/serviceInstanceLifecycleOperations.xsd

<!--
COPYRIGHT (C) 2008-2013 SERVICEMESH, INC.  ALL RIGHTS RESERVED.  CONFIDENTIAL AND PROPRIETARY. 
 
ALL SOFTWARE, INFORMATION AND ANY OTHER RELATED COMMUNICATIONS (COLLECTIVELY, "WORKS") ARE CONFIDENTIAL AND PROPRIETARY INFORMATION THAT ARE THE EXCLUSIVE PROPERTY OF SERVICEMESH.     ALL WORKS ARE PROVIDED UNDER THE APPLICABLE AGREEMENT OR END USER LICENSE AGREEMENT IN EFFECT BETWEEN YOU AND SERVICEMESH.  UNLESS OTHERWISE SPECIFIED IN THE APPLICABLE AGREEMENT, ALL WORKS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.  ALL USE, DISCLOSURE AND/OR REPRODUCTION OF WORKS NOT EXPRESSLY AUTHORIZED BY SERVICEMESH IS STRICTLY PROHIBITED.
-->
<xsd:schema targetNamespace="http://servicemesh.com/agility/sdk/service" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified"
   xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc annox"
   xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
   xmlns:annox="http://annox.dev.java.net" 
   xmlns:a="http://annox.dev.java.net/com.servicemesh.agility.tools.annotation"
   xmlns:jl="http://annox.dev.java.net/java.lang"
   xmlns:jxml="http://annox.dev.java.net/javax.xml.bind.annotation"
   xmlns:agility="http://servicemesh.com/agility/api"
   xmlns:core="http://servicemesh.com/core/messaging"
   xmlns:service="http://servicemesh.com/agility/sdk/service">
  
   <xsd:complexType name="ServiceInstanceLifecycleRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstanceLifecycleRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Request object for service instance lifecycle actions." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceRequest">
            <xsd:sequence>
            
               <xsd:element name="peerServiceInstance" type="agility:ServiceInstance" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo>
                        <annox:annotate target="field">
                           <a:ApiField comment="List of associated service instances used by instances associated with the template." />
                        </annox:annotate>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>

            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="ServiceInstancePreProvisionRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePreProvisionRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance create workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceInstancePostProvisionRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePostProvisionRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance create workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceInstancePreStartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePreStartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance start workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceInstancePostStartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePostStartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance start workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="ServiceInstancePreStopRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePreStopRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance stop workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceInstancePostStopRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePostStopRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance stop workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceInstancePreRestartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePreRestartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance restart workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="ServiceInstancePostRestartRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePostRestartRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance restart workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
  
   <xsd:complexType name="ServiceInstancePreReleaseRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePreReleaseRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance release workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ServiceInstancePostReleaseRequest">
      <xsd:annotation>
         <xsd:appinfo>
            <annox:annotate target="class">
               <jxml:XmlRootElement>
                  <jxml:name>ServiceInstancePostReleaseRequest</jxml:name>
               </jxml:XmlRootElement>
               <a:ApiModel comment = "Called during service instance release workflow to enable updates to service instance dependencies as required." 
                           description = "" 
                           externalDocLink = "" />
            </annox:annotate>
         </xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
         <xsd:extension base="service:ServiceInstanceLifecycleRequest">
            <xsd:sequence>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>
